# Mean Value Theorems Stock

https://en.wikipedia.org/wiki/Mean_value_theorem

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import matplotlib.pyplot as plt

# yahoo finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

#### Create Mean Value Theorems Function

In [2]:
def mean_value_theorem_derivative(f, a, b):
    """
    Computes a value c in the interval (a, b) satisfying f'(c) = (f(b) - f(a))/(b - a).
    
    Arguments:
    f -- The function for which to find the value c.
    a -- The lower bound of the interval.
    b -- The upper bound of the interval.
    
    Returns:
    The value c satisfying the Mean Value Theorem for Derivatives.
    """
    h = 1e-6  # A small value used for approximating the derivative
    fa = f(a)
    fb = f(b)
    fc = (fb - fa) / (b - a)
    
    return fc

In [3]:
def f(x):
    return x**2

a = 1
b = 3

c = mean_value_theorem_derivative(f, a, b)
print(c)  # Output: 4.0

4.0

In [4]:
def mean_value_theorem_integral(f, a, b):
    """
    Computes a value c in the interval (a, b) satisfying âˆ«[a,b] f(x) dx = f(c) * (b - a).
    
    Arguments:
    f -- The function for which to find the value c.
    a -- The lower bound of the interval.
    b -- The upper bound of the interval.
    
    Returns:
    The value c satisfying the Mean Value Theorem for Integrals.
    """
    fc = (1/(b - a)) * integrate.quad(f, a, b)[0]
    
    return fc

In [5]:
import scipy.integrate as integrate

def f(x):
    return x**2

a = 1
b = 3

c = mean_value_theorem_integral(f, a, b)
print(c)

4.333333333333334

#### Apply Finance Data to Mean Value Theorems

In [6]:
# input
symbol = 'AAPL'
start = '2018-01-01'
end = '2019-01-01'

# Read data 
df = yf.download(symbol,start,end)

# View Columns
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  42.540001  43.075001  42.314999  43.064999  40.831600  102223600
2018-01-03  43.132500  43.637501  42.990002  43.057499  40.824482  118071600
2018-01-04  43.134998  43.367500  43.020000  43.257500  41.014107   89738400
2018-01-05  43.360001  43.842499  43.262501  43.750000  41.481068   94640000
2018-01-08  43.587502  43.902500  43.482498  43.587502  41.327000   82271200

In [7]:
df.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-24  37.037498  37.887501  36.647499  36.707500  35.326309  148676800
2018-12-26  37.075001  39.307499  36.680000  39.292500  37.814053  234330000
2018-12-27  38.959999  39.192501  37.517502  39.037498  37.568634  212468400
2018-12-28  39.375000  39.630001  38.637501  39.057499  37.587891  169165600
2018-12-31  39.632500  39.840000  39.119999  39.435001  37.951187  140014000

In [8]:
a = df['Low'][-1]
b = df['High'][-1]
c = mean_value_theorem_derivative(f, a, b)
print(c)

78.95999908447266

In [9]:
c = mean_value_theorem_integral(f, a, b)
print(c)

1558.7135640014653