# Minkowski Distance

## Minkowski Distance is the generalized form of Euclidean and Manhattan Distance.

In [1]:
import numpy as np
from math import sqrt
from scipy.spatial import minkowski_distance


import warnings
warnings.filterwarnings("ignore") 

# yfinance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [2]:
symbol = 'AMD'

start = '2018-01-01'
end = '2019-01-01'

# Read data 
dataset = yf.download(symbol,start,end)

# View Columns
dataset.head()

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close     Volume
Date
2018-01-02  10.42  11.02  10.34  10.98      10.98   44146300
2018-01-03  11.61  12.14  11.36  11.55      11.55  154066700
2018-01-04  12.10  12.43  11.97  12.12      12.12  109503000
2018-01-05  12.19  12.22  11.66  11.88      11.88   63808900
2018-01-08  12.01  12.30  11.85  12.28      12.28   63346000

In [3]:
dataset.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-24  16.520000  17.219999  16.370001  16.650000  16.650000   62933100
2018-12-26  16.879999  17.910000  16.030001  17.900000  17.900000  108811800
2018-12-27  17.430000  17.740000  16.440001  17.490000  17.490000  111373000
2018-12-28  17.530001  18.309999  17.139999  17.820000  17.820000  109214400
2018-12-31  18.150000  18.510000  17.850000  18.459999  18.459999   84732200

In [4]:
Open = np.array(dataset['Open'])
Close = np.array(dataset['Adj Close'])

In [5]:
# Calculate Minkowski Distance
def minkowski_distance_f(a, b, p):
  md = sum(abs(e1-e2)**p for e1, e2 in zip(a,b))**(1/p)
  return md

In [6]:
# Calculate Distance using function (p=1)
dist = minkowski_distance_f(Open, Close, 1)
print(dist)

124.29000568389893

In [7]:
# Calculate Distance using function (p=2)
dist = minkowski_distance_f(Open, Close, 2)
print(dist)

11.503916527217696

In [8]:
#  Calculate Distance using scipy library
dist = minkowski_distance(Open, Close, 1)
print(dist)

124.29000568389893

In [9]:
#  Calculate Distance using scipy library
dist = minkowski_distance(Open, Close, 2)
print(dist)

11.503916527217696