# Sequences in Topological Spaces

https://en.wikipedia.org/wiki/Topological_space

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import matplotlib.pyplot as plt

# yahoo finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

#### Create Sequences in Topological Spaces

In [2]:
class TopologicalSpace:
    def __init__(self):
        self.elements = []
        self.open_sets = []

    def add_element(self, element):
        self.elements.append(element)

    def add_open_set(self, open_set):
        self.open_sets.append(set(open_set))

    def is_open(self, open_set):
        return set(open_set) in self.open_sets

    def is_closed(self, closed_set):
        complement = set(self.elements) - set(closed_set)
        return set(complement) in self.open_sets

#### Apply Finance Data to Sequences in Topological Spaces

In [3]:
# input
symbol = 'AAPL'
start = '2018-01-01'
end = '2019-01-01'

# Read data 
df = yf.download(symbol,start,end)

# View Columns
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  42.540001  43.075001  42.314999  43.064999  40.831581  102223600
2018-01-03  43.132500  43.637501  42.990002  43.057499  40.824482  118071600
2018-01-04  43.134998  43.367500  43.020000  43.257500  41.014111   89738400
2018-01-05  43.360001  43.842499  43.262501  43.750000  41.481060   94640000
2018-01-08  43.587502  43.902500  43.482498  43.587502  41.327000   82271200

In [4]:
df.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-24  37.037498  37.887501  36.647499  36.707500  35.326317  148676800
2018-12-26  37.075001  39.307499  36.680000  39.292500  37.814045  234330000
2018-12-27  38.959999  39.192501  37.517502  39.037498  37.568645  212468400
2018-12-28  39.375000  39.630001  38.637501  39.057499  37.587887  169165600
2018-12-31  39.632500  39.840000  39.119999  39.435001  37.951191  140014000

In [5]:
# Assuming you want to use the 'Adj Close' column from the stock data
stock_data = df['Adj Close'].tolist()

# Instantiate the TopologicalSpace class
topological_space = TopologicalSpace()

In [6]:
# Add stock data elements to the topological space
for price in stock_data:
    topological_space.add_element(price)

In [7]:
# Perform some operations on the topological space with the stock data
# For example, you could check if a certain range of prices is open or closed
range_open_set = [150, 170, 180, 200]  # Example range
print(f"Range is open: {topological_space.is_open(range_open_set)}")
print(f"Range is closed: {topological_space.is_closed(range_open_set)}")

Range is open: False
Range is closed: False