# Sequences in Sequences in Metric Spaces

https://en.wikipedia.org/wiki/Complete_metric_space

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import matplotlib.pyplot as plt

# yahoo finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

#### Create Sequences in Sequences in Metric Spaces

In [2]:
def is_convergent(sequence, epsilon):
    """
    Check if a sequence is convergent in a metric space.
    
    Arguments:
    sequence -- a list or tuple representing the sequence
    epsilon -- a small positive number representing the convergence threshold
    
    Returns:
    True if the sequence is convergent within the given epsilon, False otherwise
    """
    n = len(sequence)
    
    # Check if the sequence is empty
    if n == 0:
        return False
    
    # Check if the sequence is a constant sequence
    if all(x == sequence[0] for x in sequence):
        return True
    
    # Check if the sequence is convergent
    for i in range(n - 1):
        if abs(sequence[i] - sequence[i+1]) > epsilon:
            return False
    
    return True

#### Apply Finance Data to Sequences in Metric Spaces

In [3]:
# input
symbol = 'AAPL'
start = '2018-01-01'
end = '2019-01-01'

# Read data 
df = yf.download(symbol,start,end)

# View Columns
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  42.540001  43.075001  42.314999  43.064999  40.831589  102223600
2018-01-03  43.132500  43.637501  42.990002  43.057499  40.824474  118071600
2018-01-04  43.134998  43.367500  43.020000  43.257500  41.014103   89738400
2018-01-05  43.360001  43.842499  43.262501  43.750000  41.481064   94640000
2018-01-08  43.587502  43.902500  43.482498  43.587502  41.326996   82271200

In [4]:
df.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-24  37.037498  37.887501  36.647499  36.707500  35.326313  148676800
2018-12-26  37.075001  39.307499  36.680000  39.292500  37.814053  234330000
2018-12-27  38.959999  39.192501  37.517502  39.037498  37.568638  212468400
2018-12-28  39.375000  39.630001  38.637501  39.057499  37.587898  169165600
2018-12-31  39.632500  39.840000  39.119999  39.435001  37.951187  140014000

In [5]:
sequence = df['Close']  # Assuming 'Close' column represents the sequence
epsilon = 0.001  # Example convergence threshold

In [6]:
convergent = is_convergent(sequence, epsilon)
print(convergent)

False