# Sequences in Sequences in Metric Spaces

https://en.wikipedia.org/wiki/Complete_metric_space

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import matplotlib.pyplot as plt

# yahoo finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

#### Create Sequences in Sequences in Metric Spaces

In [2]:
def is_convergent(sequences, epsilon):
    """
    Checks if the sequences within sequences in a metric space are convergent.
    
    Args:
        sequences (list): A list of sequences (lists) in the metric space.
        epsilon (float): The convergence threshold.
        
    Returns:
        bool: True if all sequences are convergent, False otherwise.
    """
    for sequence in sequences:
        if len(sequence) < 2:
            # A sequence with less than two elements is considered convergent
            continue
        
        prev_value = sequence[0]
        for value in sequence[1:]:
            if abs(prev_value - value) > epsilon:
                return False
            prev_value = value
    
    return True

#### Apply Finance Data to Sequences in Metric Spaces

In [3]:
# input
symbol = 'AAPL'
start = '2018-01-01'
end = '2019-01-01'

# Read data 
df = yf.download(symbol,start,end)

# View Columns
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  42.540001  43.075001  42.314999  43.064999  40.831585  102223600
2018-01-03  43.132500  43.637501  42.990002  43.057499  40.824471  118071600
2018-01-04  43.134998  43.367500  43.020000  43.257500  41.014103   89738400
2018-01-05  43.360001  43.842499  43.262501  43.750000  41.481049   94640000
2018-01-08  43.587502  43.902500  43.482498  43.587502  41.326988   82271200

In [4]:
df.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-24  37.037498  37.887501  36.647499  36.707500  35.326309  148676800
2018-12-26  37.075001  39.307499  36.680000  39.292500  37.814045  234330000
2018-12-27  38.959999  39.192501  37.517502  39.037498  37.568638  212468400
2018-12-28  39.375000  39.630001  38.637501  39.057499  37.587887  169165600
2018-12-31  39.632500  39.840000  39.119999  39.435001  37.951195  140014000

In [5]:
# Extract the 'Close' prices from the dataframe as a sequence
close_prices = df['Close'].tolist()

# Define the convergence threshold (epsilon)
epsilon = 0.001

# Create a single sequence containing the close prices
sequences = [close_prices]

In [6]:
# Check if the close prices are convergent
if is_convergent(sequences, epsilon):
    print("The close prices are convergent.")
else:
    print("The close prices are not convergent.")

The close prices are not convergent.